<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>{{ .Total }} on {{ .Date }} - App Usage</title>
  <link rel="stylesheet" type="text/css" href="/static/base.css">
</head>
<body>
  {{ if gt .Timestamp .OldestTimestamp }}
  <input type="button" onclick="older();" value="<"  class="forward btn"/>
  {{ end }}
  <div id="graph">
    <div id="body"></div>
    <div id="timeline"></div>
  </div>
  {{ if lt .Timestamp .NewestTimestamp }}
  <input type="button" onclick="newer();" value=">" class="backward btn"/>
  {{ end }}

  <script type='text/javascript'>
    var usage = {{ .Usage }};
    var intervals = {{ .Intervals }};
    var timestamp = {{ .Timestamp }};
    var newestTimestamp = {{ .NewestTimestamp }};
  </script>
  <script type='text/javascript' src="/static/d3.js"></script>
  <script type='text/javascript' src="/static/d3-timeline.js"></script>
  <script type='text/javascript' src="/static/graph.js"></script>
</body>
</html>
